@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('./normilize.css');
@import url('./grid.css');

:root {
  --midnight: #212b36;
  --lynch: #637381;
  --grey-chateau: #919EAB;
  --alice-blue: #f4f6f8;
  --white: #ffffff;
  --pigment-green: #00ab55;
  --tropical-rain-forest: #007B55;
  --sunset-orange: #FF4842;

  --text-color-primary: var(--midnight);
  --text-color-secondary: var(--lynch);
  --btn-background: var(--pigment-green);
  --btn-hover-background: (--tropical-rain-forest);

  --root-font: "Roboto";
  --root-font-weight: 400;
  --root-font-size: 16px;
  --root-color: var(--text-color-primary);
  --root-background: var(--white);
}

body {
  font-family: var(--root-font);
  font-weight: var(--root-font-weight);
  font-size: var(--root-font-size);
  color: var(--root-color);
  background-color: var(--root-background);
}