$midnight: #212b36;
$lynch: #637381;
$grey-chateau: #919EAB;
$alice-blue: #f4f6f8;
$white: #ffffff;
$pigment-green: #00ab55;
$tropical-rain-forest: #007B55;
$sunset-orange: #FF4842;

$text-color-primary: $midnight;
$text-color-secondary: $lynch;
$btn-background: $pigment-green;
$btn-hover-background: $tropical-rain-forest;